{
	"DefaultViewPath": "view/main",
	"URLDir": "/w",
	"SchemaDir": "schemas",
	"AuthUsers": [
		{
			"Username": "admin",
			"Password": "text:123",
			"Role": "admin"
		}
	],
	"DBData": {
		"Database": "test",
		"Driver": "mysql",
		"Host": "localhost",
		"Port": "3306",
		"Protocol": "tcp",
		"Username": "test",
		"Password": "test"
	},
	"Menu": [
		{
			"Name": "subscriber",
			"Title": "Subscriber Management",
			"Inactive": false,
			"Items": [
				{
					"Name": "list",
					"Title": "List",
					"URLPath": "list/subscriber",
					"Inactive": false,
					"Description": "list all subscriber records"
				},
				{
					"Name": "new",
					"Title": "New",
					"URLPath": "new/subscriber",
					"Inactive": false,
					"Description": "create new subscriber record"
				}
			]
		},
		{
			"Name": "version",
			"Title": "Version Management",
			"Inactive": false,
			"Items": [
				{
					"Name": "list",
					"Title": "List",
					"URLPath": "list/version",
					"Inactive": false,
					"Description": "list all version records"
				},
				{
					"Name": "new",
					"Title": "New",
					"URLPath": "new/version",
					"Inactive": false,
					"Description": "create new version record"
				}
			]
		}
	]
}
