{{ define "chart" }}
  {{ template "header" . }}
    <div class="container">
        <h2>Charts Service - {{ $.ChartsInfo.Title }}</h2>
        {{ range $.ChartsInfo.ChartsData }}
        <br />
        <div id="echart_{{ .Name }}" style="height:400px;">
				</div>
        {{ end }}
    </div> 
    <script type="text/javascript" src="{{ $.Config.URLDir }}/{{ $.Config.PublicDirWebPath }}/echarts/5.6.0/echarts.min.js"></script>
    <script type="text/javascript">
      {{ range $.ChartsInfo.ChartsData }}
      var vChart_{{ .Name }} = echarts.init(document.getElementById("echart_{{ .Name }}"));
      var vOpts_{{ .Name }}= JSON.parse('{{ .Data }}');
      vChart_{{ .Name }}.setOption(vOpts_{{ .Name }});
      {{ end }}
      </script>
    {{ template "footer" . }}
{{ end }}