{{ define "delete" }}
  {{ template "header" . }}
    <div class="container">
        <h2>Delete {{ $.Schema.Title }}</h2>
        <br />
        <table id="tableone" class="display">
          <thead>
          <tr>
            <th>...</th>
            <th>...</th>
            <th>...</th>
           </tr>
          </thead>
          <tbody>
          {{ range $i, $v := $.FormFields }}
          <tr>
          <td>*</td><td><strong>{{ $v.Field.Title }}:</strong></td><td>{{ $v.Value }}</td>
          </tr>
          {{ end }}
        </tbody>
        </table>
        <br />
        <a href="{{ $.Config.URLDir }}/remove/{{ $.Schema.Name }}/{{ $.Context.IdFieldValue }}" class="btn btn-danger">Do Remove</a></p>
    </div>
  {{ template "footer" . }}
{{ end }}
