{{ define "edit" }}
  {{ template "header" . }}
    <div class="container col-5">
        <h2>Edit {{ $.Schema.Title }}</h2>
        <br />
        <form method="POST" action="{{ $.Config.URLDir }}/update/{{ $.Schema.Name }}/{{ $.Context.IdFieldValue }}">
          {{ range $i, $v := $.FormFields }}
          <div class="form-group">
            <label>{{ $v.Field.Title }}</label>
            {{ if and (eq $v.Field.InputForm.Type "select") (gt (len $v.OptionValues) 0) }}
            <select name="{{ $v.Field.Name }}" id="{{ $v.Field.Name }}" class="form-control">
              {{ range $v.OptionValues }}
              <option value="{{ . }}"{{ if eq $v.Value . }} selected{{ end }}>{{ . }}</option>
              {{ end }}
            </select>
            {{ else if and (eq $v.Field.InputForm.Type "dataset") (gt (len $v.OptionValues) 0) }}
            <input type="text" name="{{ $v.Field.Name }}" value="{{ $v.Value }}" list="{{ $v.Field.Name }}_dataset" class="form-control"/>
            <datalist id="{{ $v.Field.Name }}_dataset">
              {{ range $v.OptionValues }}
              <option value="{{ . }}">{{ . }}</option>
              {{ end }}
            </datalist>
            {{ else }}
            <input type="text" name="{{ $v.Field.Name }}" value="{{ $v.Value }}" class="form-control"{{ if eq $i 0 }} readonly{{ end }}/>
            {{ end }}
          </div>
          {{ end }}
          <input type="submit" value="Save" class="btn btn-primary" />
        </form><br />
    </div>  
  {{ template "footer" . }}
{{ end }}