{{ define "edit" }}
  {{ template "header" . }}
    <div class="container col-5">
        <h2>Edit {{ $.Schema.Title }}</h2>
        <br />
        <form method="POST" action="{{ $.Config.URLDir }}/update/{{ $.Schema.Name }}/{{ $.Context.IdFieldValue }}">
          {{ range $i, $v := $.FormFields }}
          <div class="form-group">
            <label><strong>{{ $v.Field.Title }}</strong></label>
            {{ if and (eq $v.Field.InputForm.Type "select") (gt (len $v.OptionValues) 0) }}
            <select name="{{ $v.Field.Name }}" id="{{ $v.Field.Name }}" class="form-control">
              {{ range $v.OptionValues }}
              <option value="{{ .Value }}"{{ if eq $v.SValue .Value }} selected{{ end }}>{{ .Title }}</option>
              {{ end }}
            </select>
            {{ else if and (eq $v.Field.InputForm.Type "dataset") (gt (len $v.OptionValues) 0) }}
            <input type="text" name="{{ $v.Field.Name }}" value="{{ $v.Value }}" list="{{ $v.Field.Name }}_dataset" class="form-control"/>
            <datalist id="{{ $v.Field.Name }}_dataset">
              {{ range $v.OptionValues }}
              <option value="{{ .Value }}">{{ .Title }}</option>
              {{ end }}
            </datalist>
            {{ else if and (eq $v.Field.InputForm.Type "radio") (gt (len $v.OptionValues) 0) }}
              {{ range $j, $w := $v.OptionValues }}
              <br />
              <input type="radio" id="{{ $v.Field.Name }}_{{ $j }}" name="{{ $v.Field.Name }}" value="{{ $w.Value }}"{{ if eq $v.SValue $w.Value }} checked{{ end }} />
              <label>{{ $w.Title }}</label>
              {{ end }}
            {{ else if gt (len $v.Field.InputForm.Type) 0 }}
            <input type="{{ $v.Field.InputForm.Type }}" name="{{ $v.Field.Name }}" value="{{ $v.Value }}" class="form-control"{{ if eq $i 0 }} readonly{{ end }} />
            {{ else }}
            <input type="text" name="{{ $v.Field.Name }}" value="{{ $v.Value }}" class="form-control"{{ if eq $i 0 }} readonly{{ end }} />
            {{ end }}
          </div>
          {{ end }}
          <input type="submit" value="Save" class="btn btn-primary" />
        </form><br />
    </div>  
  {{ template "footer" . }}
{{ end }}