{{ define "footer" }}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-2.2.0/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#tabledata').DataTable();
                $('#tableone').DataTable( { paging: false } );
            });
        </script>

    </body>

</html>
{{ end }}