{{ define "footer" }}
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2025 <a href="https://www.asipto.com">Asipto.com</a></p>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{{ $.Config.URLDir }}/{{ $.Config.DefaultViewPath }}" class="nav-link px-2 text-muted">SIREMIS</a></li>
            </ul>
            </footer>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-2.2.0/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#tabledata').DataTable();
                $('#tableone').DataTable( { paging: false } );
            });
        </script>

    </body>

</html>
{{ end }}