{{ define "header" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>SIREGIS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.2.0/css/dataTables.dataTables.min.css"/>

    <style>
      body {
            padding-top: 5rem;
        }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles -->    
  </head>
  <body>
  {{ if $.Context.AuthOK }}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{{ $.Config.URLDir }}/{{ $.Config.DefaultAction }}/{{ $.Config.DefaultSchema }}">SIREGIS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ $.Config.URLDir }}/list/{{ $.Config.DefaultSchema }}">List</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ $.Config.URLDir }}/new/{{ $.Config.DefaultSchema }}">New</a>
      </li>
    </ul>    
  </div>
  </nav>
  {{ end }}

<main role="main" class="container">

</main><!-- /.container --> 
{{ end }}