{{ define "main" }}
  {{ template "header" . }}
    <div class="container">
      <h2>Main Menu</h2>
      {{ $crt := 0 }}
      {{ range $i, $m := $.Config.Menu }}
      {{ if not $m.Inactive }}
      {{ if rowon (len $.Config.Menu) $crt 3 0 }}
      <div class="row">
      {{ end }}
        <div class="col-sm">

          <div id="accordion_{{ $m.Name }}">
            <div class="card">

              <div class="card-header" id="heading_{{ $m.Name }}">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{ $m.Name }}" aria-expanded="true" aria-controls="collapse_{{ $m.Name }}">
                    {{ $m.Title }}
                  </button>
                </h5>
              </div>

              <div id="collapse_{{ $m.Name }}" class="collapse" aria-labelledby="heading_{{ $m.Name }}" data-parent="#accordion_{{ $m.Name }}">
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    {{ range $j, $item := $m.Items }}
                    {{ if not $item.Inactive }}
                    <li class="list-group-item">
                      <a href="{{ $.Config.URLDir }}/{{ $item.URLPath }}">{{ $item.Title }}</span></a>
                    </li>
                    {{ end }}
                    {{ end }}
                  </ul>
                </div>
              </div>

            </div>
          </div>

        </div>
      {{ if rowon (len $.Config.Menu) $crt 3 1 }}
      </div>
      {{ end }}
      {{ $crt = add $crt 1 }}
      {{ end }}
      {{ end }}
    </div>
  {{ template "footer" . }}
{{ end }}
