{{ define "search" }}
  {{ template "header" . }}
    <div class="container col-5">
        <h2>Search {{ $.Schema.Title }}</h2>
        <br />
        <form method="POST" action="{{ $.Config.URLDir }}/find/{{ $.Schema.Name }}">
          {{ range $i, $v := $.FormFields }}
          <div class="form-group">
            <label><strong>{{ $v.Field.Title }}</strong></label>
            <select name="{{ $v.Field.Name }}_op" id="{{ $v.Field.Name }}_op" class="form-control">
              <option value="skip">Skip</option>
              <option value="eq">Equal</option>
              <option value="ne">Not Equal</option>
              <option value="gt">Greater Than</option>
              <option value="lt">Less Than</option>
              <option value="ge">Greater Or Equal</option>
              <option value="le">Less Or Equal</option>
              <option value="like">Like</option>
              <option value="regexp">RegExp</option>
            </select>
            <input type="text" name="{{ $v.Field.Name }}" class="form-control" />
          </div>
          {{ end }}
          <input type="submit" value="Search" class="btn btn-primary" />
        </form><br />
    </div>  
  {{ template "footer" . }}
{{ end }}