{{ define "show" }}
  {{ template "header" . }}
    <div class="container">
      <h2>{{ $.Schema.Title }} Details</h2>
      <br />
      <table id="tableone" class="display">
        <thead>
        <tr>
          <th>...</th>
          <th>...</th>
          <th>...</th>
         </tr>
        </thead>
        <tbody>
        {{ range $i, $v := $.FormFields }}
        <tr>
        <td>*</td><td><strong>{{ $v.Field.Title }}:</strong></td><td> {{ $v.Value }}</td>
        </tr>
        {{ end }}
        </tbody>
      </table>
      <br />
      <p>
        {{ if not $.Schema.InactiveActions.Edit }}
        <a href="{{ $.Config.URLDir }}/edit/{{ $.Schema.Name }}/{{ $.Context.IdFieldValue }}" class="btn btn-primary">Edit</a>
        {{ end }}
        {{ if not $.Schema.InactiveActions.Delete }}
        <a href="{{ $.Config.URLDir }}/delete/{{ $.Schema.Name }}/{{ $.Context.IdFieldValue }}" class="btn btn-primary">Delete</a>
        {{ end }}
      </p>
    </div>
  {{ template "footer" . }}
{{ end }}
