{{ define "smenu" }}
  {{ template "header" . }}
    <div class="container">
      <div class="card">
        <div class="card-header" id="heading_{{ $.Context.SchemaName }}">
        <h3>{{ $.Context.SchemaTitle }} Menu</h3>
        </div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="{{ $.Config.URLDir }}/list/{{ $.Context.SchemaName }}">List</span></a>
          </li>
          <li class="list-group-item">
            <a href="{{ $.Config.URLDir }}/new/{{ $.Context.SchemaName }}">New</a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  {{ template "footer" . }}
{{ end }}
